fastapi==0.115.6
uvicorn[standard]
sqlalchemy
psycopg2-binary
jinja2==3.1.4
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
itsdangerous==2.2.0
minio
redis
prometheus-fastapi-instrumentator
prometheus-client
requests
kafka-python
scikit-learn
pandas
numpy
joblib
starlette==0.41.3
